.vc_btn3,
button,
.button {
  font-family: @font-accented;
  border-radius: @radius;
  font-weight: 400 !important;
  .buttons(@pallete); // generate buttons class
}

.close-modal {
  @size: 30px;
  width: @size;
  height: @size;
  position: absolute;
  right: -@size/2;
  top: -@size/2;
  background: @cotton;
  color: @text-color;
  border: 3px solid;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}


// over ride the VC default button
.vc_btn3.vc_btn3-color-default.vc_btn3-style-modern {
  color: inherit;
  border-color: inherit;
  border: inherit;
}