.top-bar {
  padding: @indent-small 0;
  min-height: @top-bar-height;
  position: relative;
  z-index: 3;
}

#hidden-search {
  position: absolute;
  background: darken(@cotton, 10%);
  width: 100%;
  padding: @indent-small;
  z-index: 2;
  transform: translateY(-50%);
  transition: 0.2s all @bezier;
  &.opened {
    transform: translateY(@top-bar-height);
  }
}


.dataTables_length {
  margin-bottom: 1rem;
}
.tablepress-10_filter {
  margin-bottom: 1rem;
}

.tablepress {
  thead {
    th {
      background-color: fade(@primary, 70%);
      color: @white;
      padding: 1rem;
      min-width: 100px;
      text-align: center;
    }
  }
  .sorting {
    &:hover {
      background-color: fade(@primary, 80%);
    }
  }
  .sorting_asc, .sorting_desc {
    background-color: @active;
  }
  .column-3 {
    text-align: right;
    font-weight: 600;
    font-size: 1.2rem;
    &th {
      text-align: center;
    }
  }
}

.dataTables_info {
  font-style: italic;
}
.dataTables_paginate {
  a {
    text-decoration: none;
    &:hover{
      color: @active !important;
    }
    &.paginate_button.previous:before{
      height: 16px;
      content: "\f0d7";
      text-shadow: none;
      width: 16px;
      line-height: 1;
      font-size: 16px;
      position: static;
      transform: rotate(90deg);
      display: inline-block;
      vertical-align: bottom;
      color: fade(@active,90%);
      &.disabled {
        color: @cotton;
      }
    }
    &.paginate_button.next:after{
      height: 16px;
      content: "\f0d7";
      text-shadow: none;
      width: 16px;
      line-height: 1;
      font-size: 16px;
      position: static;
      transform: rotate(-90deg);
      display: inline-block;
      vertical-align: bottom;
      color: fade(@active,90%);
      &.disabled {
        color: @cotton;
      }
    }
  }
}



@media @media-sm-max{
	.tablepress {
  	font-size: 0.8em;
  	.column-3 {
    	font-size: initial;
  	}
	}
}