body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-header,
.base-wrap,
.footer {
  width: 100%;
}

h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.base-wrap {
  .vc_row {
    margin-left: 0;
    margin-right: 0;
  }
}

.content {
  padding: @indent-large 0;
}

.contact-header	{
  .tel {
    color: @font-color;
  }
}

.footer {
  padding: @indent-large 0;
  background: @coal;
  color: fade( @white, 80% );
  margin-top: auto;
  a {
    color: @white;
  }
}


@media @media-sm-max{
  .contact-header	{
    font-size: 0.9rem;
  }
}